* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #ccc;
    --primary-color: rgb(2, 173, 173);
    --background-color: rgb(209, 209, 209); 
    --error-color: red;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    background-color: var(--background-color);
}

.login-wrapped {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    min-width: 500px;
    min-height: 500px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 6px 6px 10px var(--primary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-header {
    color: var(--primary-color);
    font-size: 4rem;
    margin-top: 20px;
}

.login-form {
    padding: 30px 12px 0;
    width: 100%;
}

.account-login {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.login-title {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 600;
    color: var(--primary-color);
    margin: 10px 0 4px;
}

.account-input {
    border: 1px solid var(--border-color);
    outline: none;
    line-height: 2;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 1.6rem;
}

.login-error {
    font-size: 1.6rem;
    font-style: italic;
    color: var(--error-color);
    margin: 4px 0;
    display: none;
}

.login-error.active {
    display: block;
}

.password-forget {
    margin-top: 4px;
    padding: 10px;
    align-self: flex-end;
}

.password-forget:hover .password-forget--link {
    color: red;
}

.password-forget--link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}

#login-btn {
    margin-top: 60px;
    border: 1px solid var(--border-color);
    outline: none;
    background-color: var(--primary-color);
    font-size: 2rem;
    padding: 10px;
    border-radius: 30px;
    width: 50%;
    min-width: 100px;
    align-self: center;
    cursor: pointer;
    color: var(--white-color);
}

#login-btn:hover {
    opacity: 0.6;
}
