* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #ccc;
    --primary-color: rgb(2, 173, 173);
    --background-color: rgb(209, 209, 209); 
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-6 {
    width: 6%;
    height: 100vh;
    margin-right: -2px;
    padding-right: 2px;
    transition: 0.5s;
}

.col-94 {
    width: 94%;
    height: 100vh;
    margin-left: -2px;
    padding-left: 2px;
    transition: 0.5s;
}

.col-15 {
    min-width: 220px;
    height: 100vh;
    margin-right: -2px;
    padding-right: 2px;
    transition: 0.5s;
}

.col-85 {
    width: 85%;
    height: 100vh;
    margin-left: -2px;
    padding-left: 2px;
    transition: 0.5s;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 1.6;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

.wrapped {
    width: 100%;
    min-width: 1519px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.col-menu {
    min-width: 116px;
}


/* menu start  */
.navigation {
    position: fixed;
    inset: 20px 0 20px 20px;
    width: 75px;
    background-color: var(--white-color);
    border-radius: 5px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
}

.navigation.open {
    width: 200px;
}

.menuToggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--border-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.5s;
}

.menuToggle-icon {
    font-size: 2.6rem;
    margin-left: 24px;
}
/* menu list start  */

.menuList {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 80px;
    gap: 10px;
    width: 100%;
}

.menuList-item {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    transition: 0.5s;
}

.menuList-item.active {
    transform: translateX(30px);
}

.navigation.open .menuList-item.active {
    transform: translateX(10px);
}

.menuList-item a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.menulist-item-icon {
    position: relative;
    min-width: 54px;
    height: 52px;
    line-height: 52px;
    font-size: 2.2rem;
    transition: 0.5s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menulist-item-icon i {
    z-index: 1;
}

.menuList-item.active .menulist-item-icon {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.menulist-item-icon::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    filter: blur(8px);
    opacity: 0;
    transition: 0.5s;
}

.menuList-item.active .menulist-item-icon::before {
    opacity: 0.5;
}

.menuList-item-text {
    position: relative;
    padding: 0 15px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.navigation.open .menuList-item-text{
    opacity: 1;
    visibility: visible;
}

.menuList-item.active .menuList-item-text {
    color: var(--primary-color);
}

/* menu list end  */

/* account login start  */

.account-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    transition: 0.5s;
    margin-bottom: 40px;
}

.user-admin {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    transition: 0.5s;
}

.user-admin-img {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-left: 6px;
    border-radius: 50%;
    background: url("../img/avatar/admin.jpg") top center / cover no-repeat;
    transition: 0.5s;
}

.user-admin-name {
    display:flex;
    height: 60px;
    position: relative;
    align-items: center;
    padding-left: 68px;
    font-size: 1.6rem;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.navigation.open .logout-btn,
.navigation.open .user-admin-name {
    opacity: 1;
    visibility: visible;
}

.logout-btn {
    font-size: 1.6rem;
    padding: 8px 40px;
    font-size: 1.6rem;
    margin-top: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    opacity: 0.8;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    margin-right: 14px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

.logout-btn:hover {
    transform: translateY(-6px);
}

/* menu end  */

/* container start */
.container {
    max-width: 1796px;
    min-height: 100vh;
    top: 0;
    right: 0;
    left: 120px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--white-color);
    transition: 0.5s;
}

.container-item {
    width: 100%;
    padding: 10px;
    transition: 0.5s;
}


