<div class="modal">
    <div class="modal-container">
        <h2 class="modal-title">Tính lương</h2>
        <div class="modal-body">
            <div class="modal-employee-doc">
                <div class="col-full">
                    <div class="col-half">                                            
                        <div class="modal-name">
                            <span>Họ và tên:</span>
                            <span id ="emodal_name">Nguyễn Duy Hiếu </span>
                        </div>
                        <div class="modal-birthday">
                            <span class="modal-birthday-title">Birthday: </span>
                            <span id = "emodal_birthday">04/01/2001</span>
                        </div>
                        <div class="modal-phone-number">
                            <span>Số điện thoại: </span>
                            <span id = "emodal_phone">0979450816</span>
                        </div>
                        <div class="modal-salary-wrapped">
                            <div class="modal-work-days">
                                <span>Số ngày công: </span>
                                <span id = "emodal_workday">28</span>
                            </div>
                            <div class="modal-salary">
                                <span>Lương: </span>
                                <span id = "emodal_salary">20.000.000</span>
                                <span>VND</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-half">
                        <div class="modal-img" id = "emodal_avatar"></div>
                    </div>
                </div>
                <button class="close-btn btn">Đóng</button>
            </div>
        </div>
    </div>
</div>