<!-- modal -->
<div class="modal">
    <div class="modal-container">
        <h2 class="modal-title">Thông tin nhân viên</h2>
        <div class="modal-body">
            <div class="modal-employee-doc">
                <div class="col-full">
                    <div class="col-half">
                        <div class="modal-name-gender">
                            <div class="modal-name">
                                <span>Họ và tên:</span>
                                <span id = "emodal_name">Nguyễn Duy Hiếu </span>
                            </div>
                            <div class="modal-gender">
                                <span>Giới tính:</span>
                                <span id ="emodal_gender">Nam</span>
                            </div>
                        </div>
                        <div class="modal-birthday-hometown">
                            <div class="modal-birthday">
                                <span class="modal-birthday-title">Birthday: </span>
                                <span id ="emodal_birthday">04/01/2001</span>
                            </div>
                            <div class="modal-hometown">
                                <span>Nơi sinh: </span>
                                <span id = "emodal_homeTown">Như quỳnh văn lâm hưng yên</span>
                            </div>
                        </div>
                        <div class="modal-phone-number">
                            <span>Số điện thoại: </span>
                            <span id ="emodal_phone">0979450816</span>
                        </div>
                        <div class="modal-education">
                            <span>Trình độ: </span>
                            <span id ="emodal_education">Đại học</span>
                        </div>

                    </div>
                    <div class="col-half">
                        <div id = "emodal_avatar"class="modal-img"></div>
                    </div>
                </div>
                <button class="close-btn btn">Đóng</button>
            </div>
        </div>
    </div>
</div>